<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <title>表格自动收集系统</title>

    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 70px;
        }

        .content {
            flex: 1;
        }
    </style>

</head>
<body>
<div class="nav" role="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">表格自动收集系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="uploadTemplate">上传表格</a></li>
                    <li><a href="/myExcels">我的表格</a></li>
                    <li class="active"><a>填表历史</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- 中间的主体部分 -->
<div class="content">
    <!--    这里写页面内容   -->
    

</div>

<!-- 底部footer -->
<div style="
    min-width: 100%;
    background-color: #f8f8f8;
    padding: 15px;">
    <footer class="text-center text-muted" style="margin-top: auto;margin-bottom: auto">表格自动收集系统</footer>
</div>
<!-- Bootstrap core JavaScript
==================================================
-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/jquery-3.4.1.min.js"><\/script>')</script>
<script src="/static/js/bootstrap.min.js"></script>

</body>
</html>