<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">

    <title>表格自动收集系统</title>

    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>


</head>
<body>
<!-- 顶部导航栏 -->
<div class="nav" role="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/user/index">表格自动收集系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/user/index">上传表格</a></li>
                    <li><a href="/user/myExcels">我的表格</a></li>
                    <li><a href="/user/history">填表历史</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/editPersonInfo">个人信息修改</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- 中间的主体部分 -->
<div class="content">
    <!--    这里写页面内容   -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- 注册方式分类 nav-pills -->
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#form" data-toggle="pill">信息填写</a></li>
            </ul>

            <div class="tab-content ">
                <form id="form" class="tab-pane fade in active">
                    <br/>
                    <div id="FormBegin">
                        <div class="form-group">
                            <input type="hidden" id="hiddenId" name="submitMsgId" value="">
                        </div>
                    </div>
                    <input type="button" onclick="submitMsg()" class="btn btn-lg btn-success"
                           value="提交">
                </form>
            </div>

        </div>
    </div>

</div>

<!-- 底部footer -->
<div style="
    min-width: 100%;
    background-color: #f8f8f8;
    padding: 15px;">
    <footer class="text-center text-muted"
            style="margin-top: auto;margin-bottom: auto">
        统计信息
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script>

    function submitMsg() {
        var submitData = $("#form").serializeArray();
        var submitDataParam = {};

        for (var i = 0; i < submitData.length; i++) {
            submitDataParam[submitData[i].name] = submitData[i]['value'];
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/updateSubmit",
            contentType: "application/json;charset=UTF-8",
            data: JSON.stringify(submitDataParam),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.code == 200) {
                    alert("提交成功");
                    window.location.href = "/user/history";
                } else {
                    alert(result.message);
                }
            },
            error: function () {
                alert("提交失败！");
            }
        });

    }
</script>
<script>
    var url = window.location.href;
    var submitMsgId = url.substring(url.lastIndexOf("/") + 1);
    $("#hiddenId").val(submitMsgId);

    // 根据url中的submitMsgId获取ExcelId
    function getExcelId() {
        if (!(typeof submitMsgId == "undefined" || submitMsgId == null || submitMsgId == "")) {
            var excelId;
            $.ajax({
                url: "/user/getExcelIdBySubmitMsgId/" + submitMsgId,
                async: false,
                success(result) {
                    if (result.code == 200) {
                        var result = result.result;
                        excelId = result.uuid;
                    } else if(result.code == -1){
                        alert(result.message);
                    }
                }
            });
            return excelId;
        }
    }

    $(document).ready(function () {
        //dropdown
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/user/getName",
            success: function (result) {
                if (result.code == 200) {
                    $("#dropdown").html(result.result + " <span class=\"caret\"></span>");
                } else if (result.code == -1) {
                    alert(result.message);
                }
            },
            error: function (result) {
                console.log(result);
                alert("异常！");
            }
        });

        //获取模板，生成页面
        excelId = getExcelId();
        $.ajax({
            url: "/user/excel/" + excelId,
            success(result) {
                if (result.code == "200") {
                    // 请求模板成功，生成前端表单页面
                    var result = result.result;
                    if (result != null) {
                        var json = (new Function("return " + result))();
                        for (var item in json) {
                            $("#FormBegin")
                                .append("<div class=\"form-group\">\n" +
                                    "        <label>" + json[item] + "</label>\n" +
                                    "        <input type=\"text\" name=" + item + " id=" + json[item] +
                                    " placeholder=\"" + json[item] + "\">\n" +
                                    "    </div>\n");
                        }
                        //自动填充用户历史提交数据
                        $.ajax({
                            url: "/user/getSubmitMsgById/" + submitMsgId,
                            success(result) {
                                if (result.code == "200") {
                                    var jsonObj = JSON.parse(result.result.content);
                                    i=1;
                                    for (var item in jsonObj) {
                                        $("#FormBegin").children().eq(i).children().eq(1).val(jsonObj[i-1]);
                                        i++;
                                    }
                                } else {
                                    alert(result.message);
                                }
                            },
                            error() {
                                alert("请求失败！");
                            },
                        })

                    }
                } else {
                    alert(result.message);
                }
            },
            error() {
                alert("请求失败！");
            },
        })
    })
</script>

</body>
</html>