<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    <link href="/bootstrap4/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="/css/excel4.css" rel="stylesheet">

    <!-- Style -->
    <link href="/css/fresh-bootstrap-table.css" rel="stylesheet"/>
    <!--    <link rel="stylesheet" href="../../static/css/fresh-bootstrap-table.css">-->

    <!-- Fonts and icons -->
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300" rel="stylesheet" type="text/css">

    <title>表格自动收集系统</title>

    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 52px;
        }

        .content {
            flex: 1;
        }
    </style>

</head>
<body>
<!--导航栏部分-->
<div class="nav" role="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/user/index">表格自动收集系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/user/index">上传表格</a></li>
                    <li class="active"><a>我的表格</a></li>
                    <li><a href="/user/history">填表历史</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a id="dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/user/editPersonInfo">个人信息修改</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- 中间的主体部分 -->
<div class="content">
    <!--    这里写页面内容   -->
    <div class="fresh-table full-color-green full-screen-table">
        <table id="table"></table>
    </div>
</div>

<!-- 底部footer -->
<div style="
    min-width: 100%;
    background-color: #f8f8f8;
    padding: 15px;">
    <footer class="text-center text-muted" style="margin-top: auto;margin-bottom: auto">表格自动收集系统</footer>
</div>
<!-- Bootstrap core JavaScript
==================================================
-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-3.4.1.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-table.min.js" type="application/javascript"></script>


<script>
    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="编辑">',
            '<i class="fa fa-edit"/>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="删除">',
            '<i class="fa fa-trash"/>',
            '</a>',
            '<a class="link" href="javascript:void(0)" title="获取链接">',
            '<i class="fa fa-link"/>',
            '</a>',
            '<a class="export" href="javascript:void(0)" title="导出">',
            '<i class="fa fa-download"/>',
            '</a>',
        ].join('')
    }

    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            window.location.href = "/user/editExcel/" + row.uuid;
        },
        'click .remove': function (e, value, row, index) {
            //发出删除操作api
            if (confirm("确认删除？")) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/user/deleteExcel",
                    data: "excelId=" + row.uuid,
                    success: function (result) {
                        if (result.code == 200) {
                            //可以改为重新请求一次数据
                            $("#table").bootstrapTable('remove', {
                                field: 'id',
                                values: [row.id]
                            })
                        } else if (result.code == -1) {
                            alert(result.message);
                        }
                    },
                    error: function (result) {
                        console.log(result);
                        alert("请求异常！");
                    }
                });
            } else {
                //do nothing
            }
        },
        'click .link': function (e, value, row, index) {
            window.location.href = "/user/inputMsg/" + row.uuid;
        },
        'click .export':function (e, value, row, index) {
            window.location.href = "/user/downloadExcel/" + row.uuid;
        }

    }
</script>

<script>
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/user/getName",
            success: function (result) {
                if (result.code == 200) {
                    $("#dropdown").html(result.result + " <span class=\"caret\"></span>");
                } else if (result.code == -1) {
                    alert(result.message);
                }
            },
            error: function (result) {
                console.log(result);
                alert("异常！");
            }
        });

        $.ajax({
            url: '/user/getMyExcel',
            success(result) {
                if (result.code == 200) {
                    var data = result.result;
                    // 通过js控制表格行为
                    $('#table').bootstrapTable({
                        data: data,
                        search: true,
                        classes: 'table table-hover table-striped',
                        toolbar: '.toolbar',
                        showRefresh: true,
                        showToggle: true,
                        showColumns: true,
                        pagination: true,
                        striped: true,
                        sortable: true,
                        height: $(window).height(),
                        pageSize: 25,
                        pageList: [25, 50, 100],
                        columns: [
                            {
                                sortable: true,
                                field: 'fileName',
                                title: '表名'
                            },
                            {
                                sortable: true,
                                field: 'headContent',
                                title: '表头信息'
                            },
                            {
                                sortable: true,
                                field: 'submitNum',
                                title: '已提交'
                            },
                            {
                                sortable: true,
                                field: 'updateTimeStr',
                                title: '最后更新时间'
                            },
                            {
                                sortable: true,
                                field: 'createTimeStr',
                                title: '提交时间'
                            },
                            {
                                sortable: false,
                                field: 'operate',
                                title: '操作',
                                formatter: operateFormatter,
                                events: operateEvents,
                            },
                        ]
                    })

                    $("button").removeClass("btn-default");
                } else {
                    alert(result.message)
                }


            },
            error(errorMsg) {
                alert(errorMsg);
            }
        })

    });
</script>


</body>
</html>