<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/fileinput.min.css" rel="stylesheet">
    <link href="/css/fileinput-rtl.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <title>表格自动收集系统</title>

    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            padding-top: 70px;
        }

        .content {
            flex: 1;
        }
    </style>

</head>
<body>
<!--导航栏部分-->
<div class="nav" role="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">表格自动收集系统</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a>上传表格</a></li>
                    <li><a href="/myExcels">我的表格</a></li>
                    <li><a href="/history">填表历史</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- 中间的主体部分 -->
<div class="content">
    <!--    这里写页面内容   -->
    <div id="main" class="container">
        <div class="row">
            <div id="main-left" class="col-sm-8 col-md-9">
                <!-- 上传插件部分 -->
                <input id="input-id" type="file" class="file">
            </div>
            <div id="main-right" class="col-sm-4 col-md-3">
                <ul id="login-tab" class="nav nav-tabs nav-justified">
                    <li class="active">
                        <a href="#person-box" data-toggle="tab">个人登录</a>
                    </li>
                    <li class="">
                        <a href="#group-box" data-toggle="tab">管理员登录</a>
                    </li>
                </ul>
                <div class="tab-content" style="margin-top: 15px;">
                    <div class="tab-pane fade active in" id="person-box">
                        <div class="form-group has-feedback">
                            <label for="username-person">账号</label>
                            <a class="text-muted small" href="/register">(没有账号？点此注册)</a>
                            <input type="text" class="form-control" id="username-person"
                                   name="username-person" placeholder="请输入账号" tabindex="1">
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  style="display: none;"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password-person">密码</label>
                            <a class="text-muted small" href="">(忘记密码)</a><!-- todo 忘记密码的页面 -->
                            <input type="password" class="form-control" id="password-person"
                                   name="password-person" placeholder="请输入密码" tabindex="2">
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  style="display: none;"></span>
                        </div>
                        <a id="sign-in-btn-person" class="btn btn-md btn-info" tabindex="4"
                           style="display: block">登陆</a>
                    </div>
                    <div class="tab-pane fade in" id="group-box">
                        <div class="form-group has-feedback">
                            <label for="username-group">账号</label>
                            <input type="text" class="form-control" id="username-group"
                                   name="username-group" placeholder="请输入账号" tabindex="1">
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  style="display: none;"></span>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password-group">密码</label>
                            <input type="password" class="form-control" id="password-group"
                                   name="password-group" placeholder="请输入密码" tabindex="2">
                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                  style="display: none;"></span>
                        </div>
                        <a id="sign-in-btn-group" class="btn btn-md btn-info" tabindex="4" style="display: block">登陆</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 底部footer -->
<div style="
    min-width: 100%;
    background-color: #f8f8f8;
    padding: 15px;">
    <footer class="text-center text-muted" style="margin-top: auto;margin-bottom: auto">表格自动收集系统</footer>
</div>
<!-- Bootstrap core JavaScript
==================================================
-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/jquery-3.4.1.min.js"><\/script>')</script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/fileinput.min.js" type="application/javascript"></script>
<script src="/js/locales/fa.js" type="application/javascript"></script>
<script src="/js/locales/zh.js" type="application/javascript"></script>

<script>

    $(function () {
        // 查空
        $("input,select").blur(function () {
            var $this = $(this);
            if (!$this.val()) {
                $this.parent("div").addClass("has-error");
                $this.siblings("span").show();
            } else {
                $this.parent("div").removeClass("has-error");
                $this.siblings("span").hide();
            }
        });

        //回车跳至下一项
        $("#username-person,#username-group").keyup(function (event) {
            if (event.keyCode === 13 && this.value) {
                if (this.id === "username-person")
                    $("#password-person").trigger("focus");
                if (this.id === "username-group")
                    $("#password-group").trigger("focus");
            }
        });
        $("#password-person,#password-group").keyup(function (event) {
            if (event.keyCode === 13 && this.value) {
                if (this.id === "verify-person")
                    $("#sign-in-btn-person").trigger("click");
                if (this.id === "verify-group")
                    $("#sign-in-btn-group").trigger("click");
            }
        });
        $("#sign-in-btn-person,#sign-in-btn-group").keyup(function (event) {
            if (event.keyCode === 13) {
                if (this.id === "sign-in-btn-person")
                    $("#sign-in-btn-person").click();
                if (this.id === "sign-in-btn-group")
                    $("#sign-in-btn-group").click();
            }
        });


        $.fn._val = function (fun) {
            if (typeof fun != "function") {
                fun = function (str) {
                    return str ? true : false;
                }
            }
            var str = this.val();
            var check = fun(str);
            if (check === false) {
                this.closest("div").addClass("has-error");
            } else {
                this.closest("div").removeClass("has-error");
            }
            return str;
        };

        $.fn._warning = function (str) {
            if (str) {
                this.closest("div").addClass("has-warning").next("p").text(str);
            } else {
                this.closest("div").removeClass("has-warning").next("p").text("");
            }
        };

        //个人登陆按钮
        $("#sign-in-btn-person").click(function () {

            var username = $("#username-person")._val();
            var password = $("#password-person")._val()
            if (!(username && password)) {
                return false;
            }

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/login",
                data: "username=" + username + "&password=" + password,
                success: function (result) {
                    console.log(result);//打印服务端返回的数据(调试用)
                    if (result.code == 200) {
                        window.location.href = "/user/index"  //跳至个人主页
                    } else {
                        alert(result.message);
                    }
                },
                error: function () {
                    alert("提交失败！");
                }
            });
        });

        //todo 改成管理员登陆
        $("#sign-in-btn-group").click(function () {
            var data = {
                'username': $("#username-group")._val(),
                'password': $("#password-group")._val()
            };
            if (!(data['username'] && data['password'])) {
                return false;
            }
            $.post("#", data, function (response) {
                if (response.status === 200) {
                    alert(response.message);
                    location.href = "";  //todo 跳转到用户主页
                } else {
                    alert(response.message ? response.message : "操作失败");
                }

            })
        });

    });


</script>

<!--上传插件 bootstrap-fileinput-->
<script>
    $("#input-id").fileinput({
        language: "zh",
        uploadUrl: "uploadTemplate",
        uploadExtraData: {},
        allowedFileExtensions: ["xls", "xlsx"],
        showUpload: true,
        uploadAsync: true,
        theme: "fa",
        browseOnZoneClick: true,
        dropZoneTitle: "点击这里上传表格...<br/>或拖拽表格文件到这里...",
        dropZoneClickTitle: "",
    });
</script>

</body>
</html>