<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">

    <title>xx信息统计</title>

    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }
    </style>


</head>
<body>
<!-- 顶部导航栏 -->
<div class="nav" role="navigation">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">xx信息统计</a>
            </div>
        </div>
    </nav>
</div>

<!-- 中间的主体部分 -->
<div class="content">
    <!--    这里写页面内容   -->
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- 注册方式分类 nav-pills -->
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#form" data-toggle="pill">信息填写</a></li>
            </ul>

            <div class="tab-content ">
                <form id="form" class="tab-pane fade in active">
                    <div>
                        <br/>
                        <div class="form-group">
                            <label>学号</label>
                            <input type="text" name="stuId" placeholder="学号">
                        </div>
                        <div class="form-group">
                            <label>姓名</label>
                            <input type="text" name="stuName" placeholder="姓名">
                        </div>
                        <div class="form-group">
                            <label>班级</label>
                            <input type="text" name="stuClass" value="16软一" readonly>
                        </div>
                        <div class="form-group form-row">
                            <label>联系电话</label>
                            <input type="text" name="stuTel" placeholder="联系电话">
                        </div>
                        <div class="form-group">
                            <label for="selectItem">选择单位</label>
                            <select id="selectItem" name="stuChoice" class="form-control">
                                <option value="1">JavaWeb</option>
                                <option value="2">Python爬虫</option>
                                <option value="3">软件测试</option>
                                <option value="4">其他</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>备注</label>
                            <input type="text" name="note" placeholder="备注">
                        </div>
                    </div>

                    <input type="button" onclick="sss()" class="btn btn-lg btn-success"
                           value="提交">
                </form>
            </div>

        </div>
    </div>

</div>

<!-- 底部footer -->
<div style="
    min-width: 100%;
    background-color: #f8f8f8;
    padding: 15px;">
    <footer class="text-center text-muted"
            style="margin-top: auto;margin-bottom: auto">
        统计信息
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script>
    $(document).ready(function () {
        $(".lili").click(function () {
                if ($(this).hasClass("active")) {
                    $(this).removeClass("active");
                } else {
                    $(this).addClass("active");
                    $(this).siblings().removeClass("active");
                }
            }
        );
    });
</script>
<script>
    function sss() {
        // $("#form").ad           d
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/submit",
            data: $("#form").serialize(),
            success: function (result) {
                console.log(result);//打印服务端返回的数据(调试用)
                if (result.resultCode == 200) {
                    alert("SUCCESS");
                }
            },
            error: function () {
                alert("异常！");
            }
        });

    }
</script>

</body>
</html>